In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [4]:
df = pd.read_csv('data/Admission_Predict_V2.csv')

In [5]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,LOR
0,1,337.0,118.0,4,4.5,4.5,9.65,1,0.92,NaN
1,2,324.0,107.0,4,4.0,4.5,8.87,1,0.76,NaN
2,3,316.0,104.0,3,3.0,3.5,8.00,1,0.72,NaN
3,4,322.0,110.0,3,3.5,2.5,8.67,1,0.80,NaN
4,5,314.0,103.0,2,2.0,3.0,8.21,0,0.65,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         550 non-null    int64
 1   GRE Score          550 non-null    float64
 2   TOEFL Score        513 non-null    float64
 3   University Rating  550 non-null    int64
 4   SOP                513 non-null    float64
 5   LOR                550 non-null    float64
 6   CGPA               550 non-null    float64
 7   Research           550 non-null    int64
 8   Chance of Admit    550 non-null    float64
 9   LOR                0 non-null      float64
dtypes: float64(7), int64(3)
memory usage: 43.1 KB